<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <target xsi:type="NLogViewer"
             name="NewshoreAir.Application.Api"
             address="udp://127.0.0.1:9999"/>
    <target xsi:type="File" name="Log" fileName="${basedir}/logs/${shortdate}_LogsNewshoreAirApi.log"
            layout="${longdate} ${uppercase:${level}} ${callsite} - ${message} | ${exception}" />
    <target xsi:type="File" name="Errores" fileName="${basedir}/logs/${shortdate}_ErrorsNewshoreAirApi.log"
            layout="${longdate} ${uppercase:${level}} ${callsite} - ${message} | ${exception}" />
    <target xsi:type="File" name="Trace" fileName="${basedir}/logs/${shortdate}_TraceNewshoreAirApi.log"
            layout="${longdate} ${uppercase:${level}} ${callsite} - ${message} | ${exception}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Error" writeTo="NewshoreAir" />
    <logger name="*" minlevel="Info" writeTo="NewshoreAir" />
    <logger name="*" minlevel="Trace" writeTo="NewshoreAir" />
    <logger name="*" minlevel="Error" writeTo="Errores" />
    <logger name="*" minlevel="Info" writeTo="Log" />
    <logger name="*" minlevel="Trace" writeTo="Trace" />
  </rules>
</nlog>
